# FastAPI core
fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings

# LangChain
langchain
langchain-core
langchain-community
langchain-groq
langchain-chroma
langchain-text-splitters

# LLM
groq

# Vector DB
chromadb

# Embeddings
sentence-transformers

# Document loaders
pypdf
beautifulsoup4
requests

# PostgreSQL
psycopg2-binary
sqlalchemy

# Utilities
httpx
sse-starlette